<div class="new-layput">
    <div class="user-form">
        <h2>ログイン</h2>
        <%= form_with model: @user,url: login_form_path,local: true  do |f|%>
            <table>
                <tr>
                    <td><%= f.text_field :email,class: "form-control",placeholder: "名前" %></td>
                </tr>
                <tr>
                    <td><%= f.text_field :password ,class: "form-control" ,placeholder: "パスワード" %></td>
                </tr>
            </table>
            <div class="form-buttons">
                    <input type="submit" value="Sign in" class="create_btn">
                </div>
                <%= link_to("新規登録","new_user_path", class:"other-btn") %>
    </div>
</div>